# Logs
npm-debug.log*
lerna-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# System files
.DS_Store

# Generated distribution files
dist/
_site/
.jekyll-cache/

# Compiler Output
/**/*.js
!docs/assets/storybook/**/*.js
/**/*.js.map
!docs/assets/storybook/**/*.js.map
/**/*.d.ts
/**/*.d.ts.map
