html,
body {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

#navigation {
  align-items: center;
  display: flex;
  height: 116px;
  justify-content: space-between;
}

#navigation img {
  height: auto;
  width: 390px;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation .nav-links__top:not(:last-of-type) {
  margin-right: 48px;
}

#navigation .nav-links {
  position: relative;
}

#navigation .nav-links .nav-links__submenu {
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px 0;
}

#navigation .nav-links__top:hover + .nav-links__submenu {
  display: block;
}

#navigation .nav-links__submenu:hover {
  display: block;
}

#navigation .nav-links__submenu .nav-links__submenu-link {
  display: inline-block;
}

#navigation .nav-links__submenu .nav-links__submenu-link a {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.52px;
  color: #6c737a;
  text-decoration: none;
}

#navigation .nav-links__submenu .nav-links__submenu-link a:hover {
  color: #349889;
}

#navigation .nav-links__submenu .nav-links__submenu-link:not(:last-of-type) {
  margin-right: 31px;
}

#navigation .nav-links__top {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
